.App {
    text-align: center;
    min-height: 100vh;
    color:black;
    background-color:white;
  }
  h1{
    margin:0;
  }
  .header{
    background-color:rgb(0, 255, 68);
    padding:8px;
  
  }
  .main{
    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;
    padding: 14px;
  }
  .movie{
    background-color: white;
    color: black;
    border: 1px solid gray;
    padding: 4px;
    width:20%;
    margin-top: 10px;
    margin-right: 20px;
  }
  
  .movie img{
    height: 250px;
    width: 100%;
  }